# virtualenv
/denv/

# intermediary
*.pyc
*.swp

# IDE
.idea/

# DB and migrations
db.sqlite3
/shop/migrations/
/cart/migrations/
/orders/migrations/
/payment/migrations/

# dev server media
/media/
/static/